.modal-wrapper {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 600px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 10px solid brown;
  display: flex;
  padding: 10px;
}

.modal-wrapper-image {
  width: 300px;
}

.modal-wrapper-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.background-modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
}